@font-face {
	font-family: Inknut;
	src: url("/fonts/inknut_antiqua/InknutAntiqua-Regular.ttf");
	font-weight: normal;
}

body {
	font-family: Inknut;
	font-weight: normal;
}

.page-content {
	display: flex;
	flex-direction: row;
}

.navbar {
	background-color: #00ff00;
	padding: 20pt
}

.section {
	background-color: #ffff00;
	padding: 20pt
}